<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!-- Paramètres des jobs de sauvegarde -->
        <add key="BackupJobs"
             value="D,C:\Users\yanis\Desktop\OP1108,C:\Users\yanis\Desktop\BACKUPS\OP1108,Complete;F,C:\Users\yanis\Desktop\Models,C:\Users\yanis\Desktop\BACKUPS\Deporte,Differential" />

        <add key="CurrentLocale" value="fr-FR" />
        <add key="OutputFormat" value="JSON" />

        <add key="BusinessSoftware" value="notepad.exe" />

        <add key="ExtToEncrypt" value="png" />
        <add key="CryptoSoftPath" value="C:\\Users\\yanis\\Desktop\\CryptoSoft-1.1\\bin\\Release\\net8.0\\CryptoSoft.exe" />
        <add key="EncryptionKey" value="BA7B85A15668AAAYAB3153F128989A7D3" />

        <add key="ExtPrio" value="jpg,webp,mp4" />

        <add key="MaxBackupFileSize" value="10000000000" />

    </appSettings>
</configuration>