<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!-- Paramètres des jobs de sauvegarde -->
        <add key="BackupJobs"
             value="D,C:\Users\yanis\Desktop\OP1108,C:\Users\yanis\Desktop\BACKUPS\OP1108,Complete;F,C:\Users\yanis\Desktop\Models,C:\Users\yanis\Desktop\BACKUPS\Deporte,Complete" />

        <add key="CurrentLocale" value="fr-FR" />
        <add key="OutputFormat" value="JSON" />

        <add key="BusinessSoftware" value="" />

        <add key="ExtToEncrypt" value="" />
        <add key="CryptoSoftPath" value="" />
        <add key="EncryptionKey" value="" />

        <add key="ExtPrio" value="" />

        <add key="MaxFileSize" value="" />

    </appSettings>
</configuration>