<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!-- Paramètres des jobs de sauvegarde -->
        <add key="Job1SourceDir" value="C:\Source1" />
        <add key="Job1DestinationDir" value="D:\Dest1" />
        <add key="Job1Type" value="Complete" />

        <add key="Job2SourceDir" value="C:\Source2" />
        <add key="Job2DestinationDir" value="D:\Dest2" />
        <add key="Job2Type" value="Differential" />

        <!-- Autres paramètres de configuration -->
        <add key="MaxBackupJobs" value="5" />

        <add key="CurrentLocale" value="fr-FR" />

    </appSettings>
</configuration>